.resume{
    //
    padding: 10em 0;
    .section-intro-wrapper{
        h1{
            font-size: 2em;
        }
        img{
            display: block;
            width: 75px;
            margin: 0 auto;
        }
    }
    .resume-button-wrapper{
        width: fit-content;
        margin:6em auto 0;
        button{
            border: none;
            background-color: transparent;
            .fi{
                font-size: 4em;
            }
        }
    }
}