.resume {
  //
  padding: 10em 0;
  .section-intro-wrapper {
    h1 {
      font-size: 2em;
    }
    img {
      display: block;
      width: 75px;
      margin: 0 auto;
    }
  }
  button {
    border: none;
    background-color: transparent;
    display: block;
    margin: 10em auto 0;
    position: relative;
    .fi {
      font-size: 6em;
      display: block;
      width: fit-content;
      padding: -1em;
      position: relative;
      z-index: 5;
      color: white;
    }
    .glow-generator{
        position: absolute;
        left: 56%;
        top: 47%;
        z-index: 3;
    }
  }
}
