.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  transition: all .3s;
}

@media only screen and (max-width: 768px) {
    .header{
        position: absolute;
    }
}
