.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s;
  .menu-button {
    border: none;
    background-color: transparent;
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 5;
    padding: 0;
    font-size: 10px;
    hr {
      border: none;
      border-radius: 5px;
      margin: 0.5em 0;
      display: block;
      border: 0.2em solid;
    }
    .line-1 {
      width: 1.5em;
    }
    .line-2 {
      width: 3em;
    }
    .line-3 {
      width: 2em;
    }
  }
  .menu-wrapper {
    background-color: #e7c3ff;
    padding: 6em 2em 5em;
    box-sizing: border-box;
    width: 22em;
    position: absolute;
    right: -2em;
    top: -3em;
    transform-origin: 95% 2%;
    border-radius: 20px;
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.07),
      0px 1px 6px rgba(3, 7, 18, 0.14), 0px 3px 13px rgba(3, 7, 18, 0.22),
      0px 4px 23px rgba(3, 7, 18, 0.29), 0px 7px 35px rgba(3, 7, 18, 0.36),
      0px 10px 51px rgba(3, 7, 18, 0.43);
  }
  nav {
    font-family: "Gabarito", sans-serif;
    letter-spacing: 1px;
    p {
      color: #070055b7;
      margin: 1.5em 0 0.6em 0;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 1.5em;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .closed-menu{
      pointer-events: none;
    }
    li {
      margin: 0 0 1em 0;
      a {
        display: inline-block;
        text-decoration: none;
        color: #060143;
        font-weight: 500;
        transition: all;
        transition-duration: 0.1s;
        font-size: 1.2em;
        .fi {
          display: inline-block;
          transform: translateY(0.2em);
        }
      }
      a:hover {
        transform: scale(1.05);
        transform-origin: left;
      }
    }
  }
  p {
    font-weight: 600;
    font-size: 1.7em;
    margin: 1em 0 0.5em 0;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 1400px) {
  .menu-container {
    font-size: 12px;
    .menu-button {
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .menu-container {
    .menu-wrapper {
      padding: 10em 3em 5em;
      width: 100%;
      height: 100vh;
      position: fixed;
      right: 0;
      top: 0;
      border-radius: 0px;
    }
    nav {
      p{
        font-size: 3em;
      }
      li {
        width: fit-content;
        margin: 1em 0;
        font-size: 1.1em;
        font-size: 1.5em;
      }
    }
  }
}
