.menu-container {
  position: relative;
  height: 2.8em;
  width: 2.8em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all .3s;
  .menu-button {
    border: none;
    background-color: transparent;
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    hr {
      border: none;
      float: left;
      border-radius: 5px;
      margin: 0.4em 0;
      display: block;
      width: 100%;
      height: .2em;
    }
  }
  .menu-wrapper {
    background: #e7c3ff;
    padding: 6em 2em 5em;
    box-sizing: border-box;
    width: 22em;
    position: absolute;
    right: -0.5em;
    top: -1.6em;
    transform-origin: 95% 2%;
    border-radius: 10px;
  }
  nav {
    font-family: "Gabarito", sans-serif;
    font-size: 0.9em;
    letter-spacing: 1px;
    p {
      color: #060143;
      margin: 1.5em 0 0.3em 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0 0 0.5em 0;
      a {
        display: inline-block;
        text-decoration: none;
        color: #060143;
        font-weight: 600;
        transition: all;
        transition-duration: 0.1s;
        .fi {
          display: inline-block;
          transform: translateY(0.1em);
        }
      }
      a:hover {
        transform: scale(1.05);
        transform-origin: left;
      }
    }
  }
  p {
    font-weight: 600;
    font-size: 1.7em;
    margin: 1em 0 0.5em 0;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 768px) {
  .menu-container {
    .menu-wrapper {
      padding: 6em 2em 5em;
      width: 100%;
      height: 100vh;
      position: fixed;
      right: 0;
      top: 0;
      border-radius: 0px;
      transform-origin:50% 50%;
    }
    nav{
      p{
        width: fit-content;
        margin: 1.5em auto .3em;
      }
      li{
        width: fit-content;
        margin: .5em auto;
        font-size: 1.1em;
      }
    }
  }

}
