.resume {
  margin: 8em 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .resume-wrapper {
    background-image: url("../bg-resume-2.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 4em;
    border-radius: .6em;
    box-sizing: border-box;
    width: 65%;
    /* https://smoothshadows.com/#djEsMSw2LDAuNDMsNTEsMTAsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.07),
0px 1px 6px rgba(3, 7, 18, 0.14),
0px 3px 13px rgba(3, 7, 18, 0.22),
0px 4px 23px rgba(3, 7, 18, 0.29),
0px 7px 35px rgba(3, 7, 18, 0.36),
0px 10px 51px rgba(3, 7, 18, 0.43);

    p {
      color: white;
      font-family: "Gabarito", sans-serif;
      font-size: 2.8em;
      text-align: center;
    }
    a{
      text-decoration: none;
    }
    button {
      border: none;
      background-color: #e7c3ff;
      color: #060143;
      font-family: "Gabarito", sans-serif;
      font-size: 1.3em;
      padding: .5em 1em;
      border-radius: .6em;
      display: block;
      margin: 0 auto;
      transition: all;
      transition-duration: 0.2s;
      box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.07),
        0px 1px 6px rgba(3, 7, 18, 0.14),
        0px 3px 13px rgba(3, 7, 18, 0.22),
        0px 4px 23px rgba(3, 7, 18, 0.29),
        0px 7px 35px rgba(3, 7, 18, 0.36),
        0px 10px 51px rgba(3, 7, 18, 0.43);
    }
    button:hover {
      transform: translateY(-3px) scale(1.05);
    }
  }
}

@media only screen and (max-width: 1400px) {
  .resume {
    font-size: 14px;
    .resume-wrapper {
      p{
        font-size: 2em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .resume {
    margin: 1em 0 3em;
    padding:0 1em;
    .resume-wrapper {
      border-radius: 25px;
      width: 100%;
      padding: 8em 4em;
      background-size: 150% 100%;
      background-position: center;
      background-attachment: fixed;
      background-image: url("../bg-resume-mobile.jpg");
      p{
        font-size: 2em;
        text-align: center;
      }
      button{
        margin: 1.5em auto 0;
        font-size: 1.6em;
      }
    }
  }
}
